@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8vw;
  height: auto;
  background-color: #000000;
}

html::-webkit-scrollbar-thumb {
  background-color: rgb(44, 131, 189);
  border-radius: 5px;
}

* {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  background-color: black !important;
  position: relative;
  /* Asegura que el posicionamiento absoluto funcione correctamente */
  background-image: url("./media/espacio.jpg");
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

header {
  width: 100%;
  position: fixed;
  z-index: 9999;
  padding: 1% 0;
  background-color: transparent;
}
header.headerBlack {
  background-color: rgba(13, 13, 13, 0.742);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
header .navbar {
  --bs-navbar-padding-y: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .navbar .navbar-brand {
  width: 9%;
}
header .navbar .navbar-brand .logo {
  width: 100%;
  margin-left: 20%;
}
header .navbar .navbar-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0.5%;
  margin-right: 5vw;
}
header .navbar .navbar-nav .nav-link {
  color: white;
  font-size: 18px;
  margin-right: 1.5vw;
  transition: all 0.3s;
  padding-bottom: 0;
}
header .navbar .navbar-nav .nav-link.active {
  color: rgb(44, 131, 189);
  padding: 0.5rem;
  border-bottom: 1px solid rgb(44, 131, 189);
  transition: all 0.5s;
}

#inicio {
  height: auto;
  padding-top: 4.8vw;
  background-color: rgb(13, 13, 13);
  background-image: url("./media/fondo1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  box-shadow: 0px 0px 20px 10px rgb(12, 30, 43);
  border-radius: 0 0 60px 60px;
  -webkit-border-radius: 0 0 60px 60px;
  -moz-border-radius: 0 0 60px 60px;
  -ms-border-radius: 0 0 60px 60px;
  -o-border-radius: 0 0 60px 60px;
}
#inicio .textoInicio {
  width: 52vw;
  padding: 0 0 7% 5%;
}
#inicio .textoInicio .hola {
  font-size: 35px;
  line-height: 1;
  margin-bottom: -0.5%;
}
#inicio .textoInicio .titulo-inicio {
  font-size: 5vw;
  line-height: 1;
  color: rgb(44, 131, 189);
}
#inicio .textoInicio .descr-inicio {
  margin: 5% 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  max-width: 600px;
}
#inicio .textoInicio .descr-inicio p {
  margin: 0;
}
#inicio .textoInicio .btnsInicio {
  display: flex;
  gap: 20px;
}
#inicio .textoInicio .btnsInicio .button-inicio {
  text-decoration: none;
  transition: all 0.3s;
  font-weight: 300;
  background-color: rgb(44, 131, 189);
  color: black;
  font-weight: 500;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 150px;
  text-align: center;
}
#inicio .textoInicio .btnsInicio .button-inicio:hover {
  background: #353c5c;
  color: white;
  transition: all 0.4s ease;
}
#inicio .textoInicio .btnsInicio .wsp-linkedin {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
}
#inicio .textoInicio .btnsInicio .wsp-linkedin .circle {
  opacity: 0.7;
  transition: all 0.3s;
  text-decoration: none;
}
#inicio .textoInicio .btnsInicio .wsp-linkedin .circle .icono {
  height: 2.5vw;
}
#inicio .textoInicio .btnsInicio .wsp-linkedin .circle:hover {
  opacity: 1;
}
#inicio .fotoContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  width: auto;
  padding-right: 6%;
}
#inicio .fotoContainer .camisa {
  height: auto;
  width: 35vw;
}

#sobreMi {
  background-color: transparent;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: row;
}
#sobreMi .contenedorSpline-pc {
  position: relative;
  width: 50svw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}
#sobreMi .contenedorSpline-pc .splineContainer {
  width: 100%;
  height: 35vw;
}
@media (min-width: 1200px) {
  #sobreMi .contenedorSpline-mobile {
    display: none;
  }
}
#sobreMi .textSobremi {
  width: 55vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  padding: 200px 0 200px 7%;
}
#sobreMi .textSobremi .titulo-sobremi {
  color: white;
  margin-bottom: 40px;
  font-size: 35px;
  line-height: 1;
}
#sobreMi .textSobremi .descr-sobremi {
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  color: white;
  margin: 0;
}

#tecnologias {
  background-color: rgb(13, 13, 13);
  height: auto;
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px 10px rgb(12, 30, 43);
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
}
#tecnologias .titulo-tecno {
  color: rgb(44, 131, 189);
  font-size: 35px;
  line-height: 1;
  margin-bottom: 50px;
  text-align: center;
}
#tecnologias .cardsTecno {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1140px;
}
#tecnologias .cardsTecno .cardTecno {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 170px;
  height: 220px;
  background-color: #101725;
  color: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
#tecnologias .cardsTecno .cardTecno .logoTecno {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
#tecnologias .cardsTecno .cardTecno .scss {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}
#tecnologias .cardsTecno .cardTecno p {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

#proyectos {
  width: 100%;
  height: auto;
  padding: 200px 20px 200px 20px;
  display: flex;
  flex-direction: column;
  gap: 150px;
}
#proyectos h1 {
  display: block;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 35px;
  letter-spacing: 0.1vw;
  line-height: 1.2;
  margin-bottom: 50px;
}
#proyectos .cards_container--proyectos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
#proyectos .cards_container--proyectos .cards--proyectos {
  text-decoration: none;
  background-color: #141824;
  box-shadow: 0 10px 16px -6px rgba(5, 5, 5, 0.3), 0 25px 10px -24px rgba(5, 5, 5, 0.1);
  width: 440px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  overflow: hidden;
}
#proyectos .cards_container--proyectos .cards--proyectos .video {
  height: 250px;
  cursor: pointer;
  -o-object-position: top center;
     object-position: top center;
}
#proyectos .cards_container--proyectos .cards--proyectos .container_imgCard--proyectos img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}
#proyectos .cards_container--proyectos .cards--proyectos .container_textCard--proyectos {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  min-height: 340px;
}
#proyectos .cards_container--proyectos .cards--proyectos .container_textCard--proyectos .cardTexto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
}
#proyectos .cards_container--proyectos .cards--proyectos .container_textCard--proyectos .cardTexto h2 {
  letter-spacing: 0.1vw;
  font-size: 24px;
  color: #c9b9d3;
  display: inline;
  line-height: 1;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}
#proyectos .cards_container--proyectos .cards--proyectos .container_textCard--proyectos .cardTexto p {
  color: #c9b9d3;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
}

#contacto {
  background-color: rgb(13, 13, 13);
  width: 100%;
  padding: 100px 20px;
  height: auto;
  box-shadow: 0px 0px 20px 10px rgb(12, 30, 43);
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
}
#contacto h1 {
  display: block;
  text-align: center;
  color: rgb(44, 131, 189);
  font-size: 35px;
  letter-spacing: 0.1rem;
  line-height: 1;
  margin-bottom: 2rem;
}
#contacto .container--contacto {
  width: 100%;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#contacto .container--contacto .circle {
  opacity: 0.7;
  transition: all 0.3s;
  text-decoration: none;
}
#contacto .container--contacto .circle .icono {
  height: 40px;
}
#contacto .container--contacto .circle .wsp {
  margin: 0 10px 0 0;
}
#contacto .container--contacto .circle:hover {
  opacity: 1;
}
#contacto .container--contacto .form-contact {
  margin-top: 20px;
}
#contacto .container--contacto .form-contact input,
#contacto .container--contacto .form-contact textarea {
  margin-bottom: 15px;
  background: transparent;
  background-color: #141824;
  border: 1px solid #141824;
  width: 100%;
  padding: 15px;
  border-radius: 12px;
  color: #c9b9d3;
  font-size: 18px;
  outline: none;
  letter-spacing: 1px;
  resize: none;
}
#contacto .container--contacto .form-contact input::-moz-placeholder, #contacto .container--contacto .form-contact textarea::-moz-placeholder {
  color: #aaa4da;
}
#contacto .container--contacto .form-contact input::placeholder,
#contacto .container--contacto .form-contact textarea::placeholder {
  color: #aaa4da;
}
#contacto .container--contacto .form-contact input.input-invalid,
#contacto .container--contacto .form-contact textarea.input-invalid {
  border: 1px solid #131520;
  color: #131520;
}
#contacto .container--contacto .form-contact textarea::-webkit-scrollbar {
  width: 4px;
}
#contacto .container--contacto .form-contact textarea::-webkit-scrollbar-track {
  background-color: #141824;
}
#contacto .container--contacto .form-contact textarea::-webkit-scrollbar-thumb {
  background-color: rgb(44, 131, 189);
  border-radius: 12px;
}
#contacto .container--contacto .form-contact .btn_form--contacto {
  display: flex;
  justify-content: center;
}
#contacto .container--contacto .form-contact .btn_form--contacto button {
  background: rgb(44, 131, 189);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: black;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 1s all;
  font-weight: 700;
}
#contacto .container--contacto .form-contact .btn_form--contacto button:hover {
  background: #353c5c;
  color: #c9b9d3;
  font-weight: 700;
  transform: scale(1.1);
  box-shadow: 0px 9px 15px -1px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
}
#contacto .container--contacto .form-contact .btn_form--contacto button:active {
  background: #131520;
}
#contacto .container--contacto input:-webkit-autofill,
#contacto .container--contacto input:-webkit-autofill:hover,
#contacto .container--contacto input:-webkit-autofill:focus,
#contacto .container--contacto input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #141824 inset !important;
  -webkit-text-fill-color: #c9b9d3 !important;
}

footer {
  color: white;
  padding: 30px 12px;
}
footer p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 0;
}
footer .p1 {
  font-size: 20px;
  font-weight: 600;
}
footer .p2 {
  font-size: 16px;
}
footer .p3 {
  font-size: 14px;
}

@media (max-width: 991px) {
  header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
  }
  header .navbar .container-fluid {
    padding: 10px;
  }
  header .navbar .containNav {
    display: flex;
    justify-content: flex-end;
  }
  header .navbar .containNav .navbar-brand {
    width: 40%;
  }
  header .navbar .containNav .navbar-brand .logo {
    margin-left: 5%;
  }
  header .navbar .containNav .navbar-toggler {
    border: none;
    margin-right: 0;
    filter: invert(100%);
    -webkit-filter: invert(100%);
    padding: 0;
  }
  header .navbar .containNav .navbar-toggler:focus {
    box-shadow: none;
  }
  header .navbar .containNav .navbar-collapse .navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-bottom: 20px;
  }
  header .navbar .containNav .navbar-collapse .navbar-nav .nav-link {
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  header .navbar .containNav .navbar-collapse .navbar-nav {
    gap: 20px;
  }
}
@media (max-width: 991px) {
  .header.abajo {
    background-color: rgb(13, 13, 13) !important;
    box-shadow: 0px 0px 0.8rem 0px rgba(0, 0, 0, 0.207);
  }
}
@media (max-width: 1199px) {
  #inicio .textoInicio .hola {
    font-size: 25px;
  }
  #inicio .textoInicio .titulo-inicio {
    font-size: 50px;
  }
  #inicio .textoInicio .descr-inicio {
    font-size: 18px;
  }
  #inicio .textoInicio .btnsInicio .button-inicio {
    font-size: 18px;
    width: 160px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  #inicio .textoInicio .btnsInicio .wsp-linkedin {
    display: none;
  }
  #sobreMi {
    flex-direction: column-reverse;
    align-items: center;
    padding: 100px 20px;
    gap: 20px;
  }
  #sobreMi .textSobremi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0;
  }
  #sobreMi .descr-sobremi {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #sobreMi .contenedorSpline-pc {
    display: none;
  }
  #sobreMi .contenedorSpline-mobile {
    width: 200px;
    height: 200px;
  }
  #sobreMi .contenedorSpline-mobile .splineContainer {
    width: 200px;
    height: 200px;
  }
  #tecnologias {
    padding: 80px 20px;
  }
  #tecnologias .cardsTecno {
    max-width: 900px;
    gap: 30px;
  }
  #tecnologias .cardsTecno .cardTecno {
    width: 150px;
    height: 180px;
  }
  #tecnologias .cardsTecno .cardTecno .logoTecno {
    width: 80px;
    height: 80px;
  }
  #proyectos {
    padding: 100px 20px;
    gap: 60px;
  }
  #proyectos h1 {
    align-self: center;
    margin: auto;
    padding-bottom: 40px;
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  #inicio {
    padding: 60px 20px 0 20px;
    gap: 40px;
    border-radius: 0 0 8vw 8vw;
    -webkit-border-radius: 0 0 8vw 8vw;
    -moz-border-radius: 0 0 8vw 8vw;
    -ms-border-radius: 0 0 8vw 8vw;
    -o-border-radius: 0 0 8vw 8vw;
  }
  #inicio .textoInicio {
    width: 100%;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  #inicio .textoInicio .hola {
    font-size: 22px;
  }
  #inicio .textoInicio .titulo-inicio {
    margin-bottom: 0;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 2px;
  }
  #inicio .textoInicio .descr-inicio {
    max-width: 400px;
    margin: 0;
  }
  #inicio .fotoContainer {
    margin-left: 5%;
  }
  #inicio .fotoContainer .camisa {
    width: 250px;
  }
  #sobreMi {
    padding: 100px 12px;
  }
  #sobreMi .textSobremi .titulo-sobremi {
    font-size: 30px;
  }
  #tecnologias {
    padding: 80px 12px;
    border-radius: 8vw;
    -webkit-border-radius: 8vw;
    -moz-border-radius: 8vw;
    -ms-border-radius: 8vw;
    -o-border-radius: 8vw;
  }
  #tecnologias .titulo-tecno {
    font-size: 30px;
    margin-bottom: 40px;
  }
  #proyectos h1 {
    font-size: 30px;
    max-width: 350px;
  }
  #contacto {
    width: 100%;
    padding: 60px 20px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8vw;
    -webkit-border-radius: 8vw;
    -moz-border-radius: 8vw;
    -ms-border-radius: 8vw;
    -o-border-radius: 8vw;
  }
  #contacto h1 {
    font-size: 30px;
  }
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  /* Ajusta el color y la opacidad del fondo oscuro */
  z-index: -1;
  /* Asegura que la capa esté detrás del contenido */
}

.contenedor__animacion {
  display: none;
  position: relative;
  height: 100%;
}

.nave-fuego {
  position: absolute;
  top: -50px;
  left: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  rotate: -45deg;
}

.nave {
  width: 50px;
  rotate: 180deg;
  z-index: 9;
  margin-top: -50px;
}

.fuego {
  width: 50px;
  margin-top: -50px;
}

@media (max-width: 1199px) {
  .nave-fuego {
    display: none;
  }
}
/* Estilos del loader */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 3px solid #fff;
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=styles.css.map */